<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<table align="center">
  <tr>
    <td align="right"><%= render :partial => 'queued_urls_gauge' %></td>
    <td align="left"><%= render :partial => 'running_vms_gauge' %></td>
  </tr>
  <tr>
    <th colspan=2><%= render :partial => 'timeline' %></td>
  </tr>
</table>
