<p>
  <b>Name:</b>
  <%=h @job_source.name %>
</p>

<p>
  <b>Protocol:</b>
  <%=h @job_source.protocol %>
</p>


<%= link_to 'Edit', edit_job_source_path(@job_source) %> |
<%= link_to 'Back', job_sources_path %>
