
/* Messages
   ========================= */

.active-scaffold .empty-message, .active-scaffold .filtered-message {
background-color: #e8e8e8;
padding: 4px;
font: bold 11px verdana, sans-serif;
text-align: center;
color: #666;
}

/* Tables - Clients
   ========================= */

.active-scaffold tr.deleted td.client_status-column {
background-color: #DDDDDD;
}

.active-scaffold tr.even-record-deleted td.client_status-column {
background-color: #EEEEEE;
}

.active-scaffold tr.compromised td.client_status-column {
background-color: #FF5544;
border-bottom: solid 1px #000000;
}

.active-scaffold tr.compromised td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-compromised td.client_status-column {
background-color: #FF8877;
border-bottom: solid 1px #000000;
}

.active-scaffold tr.even-record-compromised td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.false_positive td.client_status-column {
background-color: #FFEE00;
}

.active-scaffold tr.false_positive td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-false_positive td.client_status-column {
background-color: #FFFF88;
}

.active-scaffold tr.even-record-false_positive td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.running td.client_status-column {
background-color: #22FF22;
}

.active-scaffold tr.running td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-running td.client_status-column {
background-color: #99FF88;
}

.active-scaffold tr.even-record-running td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.error td.client_status-column {
background-color: #FFEE00;
}

.active-scaffold tr.error td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-error td.client_status-column {
background-color: #FFFF88;
}

.active-scaffold tr.even-record-error td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.unknown td.client_status-column {
background-color: #FFEE00;
}

.active-scaffold tr.unknown td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-unknown td.client_status-column {
background-color: #FFFF88;
}

.active-scaffold tr.even-record-unknown td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.suspicious td.client_status-column {
background-color: #FF8844;
border-bottom: solid 1px #000000;
}

.active-scaffold tr.suspicious td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-suspicious td.client_status-column {
background-color: #FF9955;
border-bottom: solid 1px #000000;
}

.active-scaffold tr.even-record-suspicious td.client_status-column a.disabled {
color: black;
font-weight: bold;
}

/* Tables - URLs
   ========================= */

.active-scaffold tr.queued td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-queued td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.suspicious td.url_status-column {
background-color: #FF8844;
border-bottom: solid 1px #000000;
}

.active-scaffold tr.suspicious td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-suspicious td.url_status-column {
background-color: #FF9955;
border-bottom: solid 1px #000000;
}

.active-scaffold tr.even-record-suspicious td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.error td.url_status-column {
background-color: #FFEE00;
}

.active-scaffold tr.error td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-error td.url_status-column {
background-color: #FFFF88;
}

.active-scaffold tr.even-record-error td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.compromised td.url_status-column {
background-color: #FF5544;
border-bottom: solid 1px #000000;
}

.active-scaffold tr.compromised td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-compromised td.url_status-column {
background-color: #FF8877;
border-bottom: solid 1px #000000;
}

.active-scaffold tr.even-record-compromised td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.visited td.url_status-column {
background-color: #22FF22;
}

.active-scaffold tr.visited td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

.active-scaffold tr.even-record-visited td.url_status-column {
background-color: #99FF88;
}

.active-scaffold tr.even-record-visited td.url_status-column a.disabled {
color: black;
font-weight: bold;
}

/* Displaying URL details. */
.active-scaffold .show-view dd.url_value {
-x-system-font: none;
float: left;
font-family: courier, sans-serif;
font-size: 9px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: bold;
line-height: normal;
margin-bottom: 5px;
margin-right: 5px;
padding-left: 5px;
padding-right: 5px;
background-color: #EDEDED;
border-bottom: solid 1px #000000;
border-top: solid 1px #000000;
border-left: solid 1px #000000;
border-right: solid 1px #000000;
}

/* Displaying os process name and parent name details. */
.active-scaffold .show-view dd.os_process_name_value {
-x-system-font: none;
float: left;
font-family: courier, sans-serif;
font-size: 9px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: bold;
line-height: normal;
margin-bottom: 5px;
margin-right: 5px;
padding-left: 5px;
padding-right: 5px;
background-color: #EDEDED;
border-bottom: solid 1px #000000;
border-top: solid 1px #000000;
border-left: solid 1px #000000;
border-right: solid 1px #000000;
}

/* Displaying process file name details. */
.active-scaffold .show-view dd.process_file_name_value {
-x-system-font: none;
float: left;
font-family: courier, sans-serif;
font-size: 9px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: bold;
line-height: normal;
margin-bottom: 5px;
margin-right: 5px;
padding-left: 5px;
padding-right: 5px;
background-color: #EDEDED;
border-bottom: solid 1px #000000;
border-top: solid 1px #000000;
border-left: solid 1px #000000;
border-right: solid 1px #000000;
}

/* Displaying process registry name details. */
.active-scaffold .show-view dd.process_registry_name_value {
-x-system-font: none;
float: left;
font-family: courier, sans-serif;
font-size: 9px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: bold;
line-height: normal;
margin-bottom: 5px;
margin-right: 5px;
padding-left: 5px;
padding-right: 5px;
background-color: #EDEDED;
border-bottom: solid 1px #000000;
border-top: solid 1px #000000;
border-left: solid 1px #000000;
border-right: solid 1px #000000;
}

/* Displaying process registry value details. */
.active-scaffold .show-view dd.process_registry_value_value {
-x-system-font: none;
float: left;
font-family: courier, sans-serif;
font-size: 9px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: bold;
line-height: normal;
margin-bottom: 5px;
margin-right: 5px;
padding-left: 5px;
padding-right: 5px;
background-color: #EDEDED;
border-bottom: solid 1px #000000;
border-top: solid 1px #000000;
border-left: solid 1px #000000;
border-right: solid 1px #000000;
}
