<div class="user-bar">
  <table align="right">
    <tr>
      <td class="first">Logged in as <%= link_to_current_user :content_method => :login %></td>
      <td class="last"><%= link_to "Logout", logout_path, { :title => "Logout" } %></td>
    </tr>
  </table>
</div>
