<p>
  <b>Protocol:</b>
  <%=h @job_alert.protocol %>
</p>

<p>
  <b>Address:</b>
  <%=h @job_alert.address %>
</p>


<%= link_to 'Edit', edit_job_alert_path(@job_alert) %> |
<%= link_to 'Back', job_alerts_path %>
