<p>
  <b>Os process count:</b>
  <%=h @fingerprint.os_process_count %>
</p>

<p>
  <b>Checksum:</b>
  <%=h @fingerprint.checksum %>
</p>


<%= link_to 'Edit', edit_fingerprint_path(@fingerprint) %> |
<%= link_to 'Back', fingerprints_path %>
